<li>

	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		      {{#if devoured}}Devoured!{{else}} Hungry!{{/if}}
	</button>

	 <!-- <button class="devoured-burger" data-id="{{this.id}}">Devoured It!</button> -->
</li>
